[color]
	ui = auto
[user]
	name = lkfo415579
	email = lkfo415579@hotmail.com
[alias]
	ci = commit
	st = status
	br = branch -v
	co = checkout
	uncommit = reset --soft HEAD^
	br = branch
	co = checkout
	g = grep -n --color -E
	l = log --pretty=oneline --abbrev-commit --graph --decorate
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%Creset' --abbrev-commit

	# Handy shortcuts for rebasing
	rc = rebase --continue
	rs = rebase --skip
	ra = rebase --abort
[push]
	default = simple
[core]
	quotepath = false
