[color]
	ui = auto
[user]
	name = Ken Liao
	email = lparam@live.com
[alias]
	ci = commit
	st = status
	br = branch -v
	co = checkout
	g = grep -n --color -E
	uncommit = reset --soft HEAD^
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%Creset' --abbrev-commit
